[submodule "deps/SPIRV-Reflect"]
	path = deps/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
