[submodule "deps/SPIRV-Reflect"]
	path = deps/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
[submodule "deps/VulkanMemoryAllocator"]
	path = deps/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "deps/SPIRV-Tools"]
	path = deps/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "deps/glslang"]
	path = deps/glslang
	url = https://github.com/KhronosGroup/glslang
